* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .common-style */
.dark-1 {
  color: rgba(14, 14, 14, 0.8);
}
.dark-2 {
  color: rgba(14, 14, 14, 0.7);
}
.dark-3 {
  color: rgba(14, 14, 14, 0.3);
}
.dark-4 {
  background: rgba(0, 106, 80, 1);
}
.dark-5 {
  background: rgba(198, 228, 214, 1);
}
.dark-6 {
  background: rgba(84, 144, 245, 0.2);
}
.dark-7 {
  background: rgba(84, 144, 245, 1);
}
.dark-8 {
  background: rgba(198, 228, 214, 1);
}
.dark-9 {
  background: rgba(9, 161, 92, 1);
}
.dark-10 {
  background: rgba(247, 235, 207, 1);
}
.dark-11 {
  background: rgba(255, 194, 57, 1);
}
body {
  background: rgba(245, 245, 245);
  font-family: Arial, Helvetica, sans-serif;
}
p {
  color: rgba(14, 14, 14, 0.7);
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.btn-primary {
  font-size: 18px;
  font-weight: 600;
  padding: 13px 26px;
  border-radius: 8px;
  color: #fff;
  background: #006a50;
  border: none;
}
.btn-primary:hover {
  background: #034636;
  transition: 0.2s;
}
.section {
  margin-bottom: 80px;
}
.section-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
/* header */
header,
main {
  margin: 0 20px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
nav h2 {
  font-size: 32px;
  font-weight: 700;
}
nav button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 26px;
  border-radius: 8px;
  color: #006a50;
  border: 2px solid #006a50;
}
nav button:hover {
  background: #006a50;
  color: #fff;
  transition: 0.2s;
}
.banner {
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 60px;
  margin-top: 20px;
}
.banner-content {
  width: 60%;
}
.banner h5 {
  font-size: 24px;
  font-weight: 500;
}
.banner p {
  font-size: 56px;
  font-weight: 700;
  margin-top: 16px;
  margin-bottom: 24px;
  color: #000;
}
.banner-image {
  width: 40%;
}
/* main */
/* pillars-section, futures-section */
.pillars-section .section-title {
  margin-bottom: 32px;
}
.pillars-section .pillars-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}
.pillars-cards .card,
.futures-cards .card {
  box-shadow: 0px 0px 2px rgb(188, 188, 188);
  border-radius: 16px;
  background: #fff;
  padding: 24px;
}
.pillars-cards img,
.futures-cards img {
  max-width: 62px;
  max-height: 62px;
  margin-bottom: 24px;
}
.pillars-cards .card .card-title,
.futures-cards .card .card-title,
.news-section {
  font-size: 20px;
  font-weight: 700;
}
.futures-section .section-discription {
  margin-bottom: 32px;
}
.futures-section .futures-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.futures-cards .card .card-discription {
  margin-bottom: 36px;
  margin-top: 12px;
}
.futures-cards .card {
  position: relative;
}
.futures-cards .card-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  color: #fff;
  position: absolute;
  bottom: 10px;
}
.futures-cards .card:nth-child(1) {
  background: rgba(84, 144, 245, 0.2);
}
.futures-cards .card:nth-child(2) {
  background: rgba(198, 228, 214, 1);
}
.futures-cards .card:nth-child(3) {
  background: rgba(247, 235, 207, 1);
}
.futures-cards .btn-1:hover {
  background: rgb(64, 109, 187);
}
.futures-cards .btn-2:hover {
  background: rgb(8, 134, 77);
}
.futures-cards .btn-3:hover {
  background: rgb(184, 141, 42);
}
.futures-section .bottom-discription {
  margin-top: 24px;
  padding: 48px 24px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 0px 2px rgb(188, 188, 188);
}
.futures-section .bottom-discription i {
}
.futures-section .bottom-discription h2 {
  margin-top: 12px;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
}

/* opinion-matters-section */
.table {
  padding: 32px;
  border-radius: 16px;
  background: #fff;
}
.opinion-section table {
  width: 100%;
}
.opinion-section table,
tr,
td {
  border: 2px solid rgba(14, 14, 14, 0.3);
  border-collapse: collapse;
}
.opinion-section table thead th {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding: 24px;
}
.opinion-section table thead th:last-child {
  text-align: right;
}
.opinion-section table td {
  font-weight: 600;
  text-align: left;
  width: 100%;
  padding: 24px;
}
.opinion-section table select {
  font-weight: 500;
  padding: 12px 16px;
  text-align: center;
  /* width: 150px; */
  margin: 0 20px;
  border-radius: 4px;
}
.opinion-section table select option {
  background: #fff;
}
/* news-section */
.news-section .section-discription {
  font-size: 16px;
  font-weight: 400;
}
.news-section .news-cards {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.news-section .news-cards .card {
  background: #fff;
  padding: 48px;
  border-radius: 16px;
  display: flex;
  gap: 32px;
}
.news-section .news-cards .card img {
  width: 40%;
  border-radius: 24px;
}
.news-section .news-cards .card .discription {
  width: 60%;
}
.news-cards .card .discription .card-title {
  font-size: 32px;
  font-weight: 700;
}
.news-cards .card .discription img {
  max-width: 140px;
  border-radius: 0;
  margin: 12px 0;
}
.news-cards p {
  font-size: 16px;
  font-weight: 400;
}
.news-cards .card-discription {
  margin: 12px 0 32px 0;
}
.news-cards .discription {
  position: relative;
}
.news-cards .btn-primary {
  position: absolute;
  bottom: 0;
}
.news-cards .card:nth-child(2) {
  flex-direction: row-reverse;
}
/* donate-section */
.donate-section .section-content {
  text-align: center;
  margin-bottom: 32px;
}
.donate-section .section-content .section-discription {
  margin: 0 88px;
}
.donate-section .donate-btn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin: 0 100px;
}
.donate-section .donate-btn button {
  font-size: 40px;
  font-weight: 700;
  padding: 20px;
  border-radius: 16px;
  border: none;
  background: #fff;
  box-shadow: 0 0 2px #ccc6c6;
}
.donate-section .donate-btn button:focus {
  background: rgba(198, 228, 214, 1);
}
.donate-section input {
  display: block;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  border: none;
  box-shadow: 0px 1px 0 #d8d2d2;
  margin: 24px auto;
}
.donate-section .btn {
  text-align: center;
}
/* subscribe-section */
.subscribe-section {
  padding: 80px 100px;
  text-align: center;
  border-radius: 16px;
}
.subscribe-section .section-title {
  margin-bottom: 16px;
}
.subscribe-section .section-discription {
  max-width: 600px;
  margin: 0 auto;
}
.subscribe-section form {
  display: flex;
  margin: 24px auto;
  width: 70%;
}
.subscribe-section form input {
  display: block;
  padding: 18px 30px;
  border: none;
  background: #fff;
  font-size: 18px;
  outline: 0;
}
.subscribe-section form input:first-child {
  width: 80%;
  border-radius: 8px 0 0 8px;
}
.subscribe-section form input:last-child {
  width: 20%;
  background: rgba(0, 106, 80, 1);
  color: #fff;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}
.subscribe-section form input:last-child:hover {
  background: #034636;
  transition: 0.2s;
}

/* Responsive design */
/* Small */
@media screen and (max-width: 576px) {
  .btn-primary {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 13px;
    border-radius: 8px;
  }
  .container {
  }
  .section {
    margin-bottom: 80px;
  }
  .section-title {
    font-size: 28px;
  }
  /* header */
  nav h2 {
    font-size: 24px;
    font-weight: 700;
  }
  nav button {
    font-size: 16px;
    padding: 6px 12px;
  }
  /* banner */
  .banner {
    border-radius: 16px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .banner-content {
    width: 100%;
    margin: 20px;
  }
  .banner h5 {
    font-size: 20px;
  }
  .banner p {
    font-size: 32px;
  }
  .banner-image {
    width: 100%;
  }
  .banner-image img {
    width: 100%;
  }
  /* main */
  /* pillars-section, future-section */
  .pillars-section .pillars-cards,
  .futures-section .futures-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
  .pillars-section .section-title,
  .futures-section .section-title {
    margin-bottom: 26px;
  }
  .pillars-cards img,
  .futures-cards img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 12px;
  }
  .pillars-cards .card .card-title,
  .futures-cards .card .card-title {
    margin-bottom: 8px;
  }
  .futures-section .bottom-discription {
    margin-top: 12px;
    padding: 24px 16px;
  }
  .futures-section .bottom-discription h2 {
    margin-top: 10px;
    margin-bottom: 2px;
    font-size: 18px;
  }
  /* opinion-matters-section */
  .table {
    padding: 18px;
  }
  .opinion-section table thead th {
    padding: 16px;
  }
  .opinion-section table td {
    padding: 12px;
  }
  .opinion-section table select {
    margin: 0;
  }
  /* news-section */
  .news-section .news-cards {
    gap: 16px;
  }
  .news-section .news-cards .card {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .news-section .news-cards .card img {
    width: 100%;
    border-radius: 16px;
  }
  .news-section .news-cards .card .discription {
    width: 100%;
  }
  .news-cards .card .discription .card-title {
    font-size: 24px;
  }
  .news-cards .card .discription img {
    border-radius: 0;
    max-width: 100px;
    margin: 6px 0;
  }
  .news-cards .card-discription {
    margin: 12px 0 60px 0;
  }
  .news-cards .card:nth-child(2) {
    flex-direction: column;
  }
  /* donate-section */
  .donate-section .section-content {
    margin-bottom: 24px;
  }
  .donate-section .section-content .section-discription {
    margin: 0 22px;
  }
  .donate-section .donate-btn {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    margin: 0 100px;
  }
  .donate-section .donate-btn button {
    font-size: 20px;
    padding: 10px;
    border-radius: 8px;
  }
  .donate-section input {
    width: 60%;
    margin: 0 20%;
    margin: 24px auto;
  }
  /* subscribe-section */
  .subscribe-section {
    padding: 40px 10px;
  }
  .subscribe-section .section-title {
    margin-bottom: 10px;
  }
  .subscribe-section form {
    width: 80%;
  }
  .subscribe-section form input {
    padding: 12px 6px;
  }
  .subscribe-section form input:first-child {
    width: 60%;
    border-radius: 4px 0 0 4px;
  }
  .subscribe-section form input:last-child {
    width: 40%;
    font-size: 16px;
    border-radius: 0 4px 4px 0;
  }
}
/* Medium */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .btn-primary {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 13px;
    border-radius: 8px;
  }
  .container {
    margin: 0;
  }
  .section {
    margin-bottom: 80px;
  }
  .section-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  /* header */
  nav h2 {
    font-size: 24px;
    font-weight: 700;
  }
  nav button {
    font-size: 16px;
    padding: 6px 12px;
  }
  /* banner */
  .banner {
    border-radius: 16px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .banner-content {
    width: 100%;
    margin: 20px;
  }
  .banner h5 {
    font-size: 20px;
  }
  .banner p {
    font-size: 32px;
  }
  .banner-image {
    width: 100%;
  }
  .banner-image img {
    width: 100%;
  }
  /* main */
  /* pillars-section */
  .pillars-section .pillars-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .futures-section .futures-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .pillars-section .section-title,
  .futures-section .section-title {
    margin-bottom: 20px;
  }
  .pillars-cards img,
  .futures-cards img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 12px;
  }
  .pillars-cards .card .card-title,
  .futures-cards .card .card-title {
    margin-bottom: 8px;
  }
  .futures-section .bottom-discription {
    padding: 24px 18px;
  }
  /* news-section */
  .news-section .news-cards {
    gap: 16px;
  }
  .news-section .news-cards .card {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .news-section .news-cards .card img {
    width: 60%;
    /* margin: 0 auto; */
    border-radius: 16px;
  }
  .news-section .news-cards .card .discription {
    width: 100%;
  }
  .news-cards .card .discription .card-title {
    font-size: 24px;
  }
  .news-cards .card .discription img {
    border-radius: 0;
    max-width: 100px;
    margin: 6px 0;
  }
  .news-cards .card-discription {
    margin: 6px 0 60px 0;
  }
  .news-cards .card:nth-child(2) {
    flex-direction: column;
  }
  /* donate-section */
  .donate-section .section-content {
    margin-bottom: 20px;
  }
  .donate-section .section-content .section-discription {
    margin: 0 20px;
  }
  .donate-section .donate-btn {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
    width: 250px;
    margin: auto;
  }
  .donate-section .donate-btn button {
    font-size: 24px;
    padding: 16px;
    border-radius: 8px;
  }
  .donate-section input {
    display: block;
    width: 200px;
    margin: 24px auto;
  }
  /* subscribe-section */
  .subscribe-section {
    padding: 40px;
  }
  .subscribe-section .section-title {
    margin-bottom: 12px;
  }
  .subscribe-section form {
    width: 80%;
  }
  .subscribe-section form input {
    display: block;
    padding: 16px 10px;
  }
  .subscribe-section form input:first-child {
    width: 70%;
    border-radius: 6px 0 0 6px;
  }
  .subscribe-section form input:last-child {
    width: 30%;
    border-radius: 0 8px 8px 0;
  }
}
/* large */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .btn-primary {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 13px;
    border-radius: 8px;
  }
  .container {
    margin: 12px 20px;
  }
  .section {
    margin-bottom: 80px;
  }
  .section-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  /* header */
  nav h2 {
    font-size: 24px;
    font-weight: 700;
  }
  nav button {
    font-size: 16px;
    padding: 6px 12px;
  }
  /* banner */
  .banner {
    border-radius: 16px;
    padding: 20px;
  }
  .banner-content {
    margin: 20px;
  }
  .banner h5 {
    font-size: 20px;
  }
  .banner p {
    font-size: 32px;
  }
  .banner-image img {
    width: 100%;
  }
  /* main */
  /* pillars-section */
  .pillars-section .pillars-cards {
    gap: 12px;
  }
  .pillars-section .section-title,
  .futures-section .section-title {
    margin-bottom: 24px;
  }
  .pillars-cards .card,
  .futures-cards .card {
    padding: 12px;
  }
  .pillars-cards img,
  .futures-cards img {
    max-width: 50px;
    max-height: 50px;
    margin-bottom: 16px;
  }
  .pillars-cards .card .card-title,
  .futures-cards .card .card-title {
    margin-bottom: 8px;
  }
  .futures-section .bottom-discription {
    padding: 24px 18px;
  }
  /* news-section */
  .news-section .news-cards {
    gap: 16px;
  }
  .news-section .news-cards .card {
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .news-section .news-cards .card img {
    width: 60%;
    margin: 0 auto;
    border-radius: 16px;
  }
  .news-section .news-cards .card .discription {
    width: 100%;
    text-align: center;
  }
  .news-cards .card .discription .card-title {
    font-size: 24px;
  }
  .news-cards .card .discription img {
    border-radius: 0;
    max-width: 100px;
    margin: 6px 0;
  }
  .news-cards .card-discription {
    margin: 6px 0 60px 0;
  }
  .news-cards .card:nth-child(2) {
    flex-direction: column;
  }
  .news-cards .discription {
    position: relative;
  }
  .news-cards .btn-primary {
    position: relative;
    bottom: 0;
  }
  /* donate-section */
  .donate-section .section-content {
    margin-bottom: 20px;
  }
  .donate-section .section-content .section-discription {
    margin: 0 68px;
  }
  .donate-section .donate-btn {
    gap: 18px;
  }
  .donate-section .donate-btn button {
    font-size: 24px;
    padding: 10px;
    border-radius: 10px;
  }
  .donate-section input {
    width: 66%;
    margin: 20px auto;
  }
  /* subscribe-section */
  .subscribe-section {
    padding: 60px 80px;
  }
  .subscribe-section form {
    width: 90%;
  }
  .subscribe-section form input {
    padding: 18px;
  }
  .subscribe-section form input:first-child {
    width: 70%;
  }
  .subscribe-section form input:last-child {
    width: 30%;
  }
}
/* extra-large */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    margin: 0 5%;
  }
  /* header */
  header .banner-image img {
    width: 100%;
  }
  .section {
    margin-bottom: 80px;
  }
  .banner .banner-content p {
    font-size: 40px;
  }
  .section-title {
    font-size: 36px;
    margin-bottom: 24px;
  }
  /* main */
  /* news-section */
  .news-section .news-cards .card {
    padding: 26px;
    gap: 20px;
  }
  .news-cards .card .discription .card-title {
    font-size: 30px;
  }
  .news-cards .card .discription img {
    margin: 12px 0;
  }
  .news-cards .card-discription {
    margin: 6px 0 56px 0;
  }
  /* donate-section */
  .donate-section .section-content {
    margin-bottom: 24px;
  }
  .donate-section .donate-btn button {
    font-size: 24px;
    padding: 20px 14px;
    border-radius: 8px;
  }
  .donate-section input {
    width: 66%;
    margin: 24px auto;
  }
  /* subscribe-section */
  .subscribe-section {
    padding: 60px 80px;
  }
  .subscribe-section form {
    width: 90%;
  }
  .subscribe-section form input {
    padding: 18px;
  }
  .subscribe-section form input:first-child {
    width: 70%;
  }
  .subscribe-section form input:last-child {
    width: 30%;
  }
}
